rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users can only read and write to their own profile.
    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }

    // Ads can be read by anyone.
    // Ads can only be created, updated, or deleted by the authenticated user who owns the ad.
    match /ads/{adId} {
      allow read: if true;
      allow create: if request.auth.uid != null && request.resource.data.userId == request.auth.uid;
      allow update, delete: if request.auth.uid != null && resource.data.userId == request.auth.uid;
    }
  }
}
